
{% extends 'base.html.twig' %}
{% block title %} Users {% endblock title %}
{% block body %}
<h1> List of Users </h1>
<a href="/user/new" style="margin-left:900px;" class="btn btn-dark">Create User</a>
<p></p>

{% if users %}
  <table id="category" class="table table-striped">
   <thead>
       <tr>
           <th>User Name</th>
            <th>User Email</th>
           <th>Group</th>
           <th>Status</th>
           <th>Actions</th>
        </tr>
   </thead>
   <tbody>
        {% for user in users %}

          <tr>
            <td>{{ user.Username }}</td>
            <td>{{ user.Useremail }}</td>
            <td>{{ user.category.Categoryname }}</td>
            <td>{{ user.Userstatus }}</td>
            <td>
              <a href="/user/show/{{ user.id }}" class="btn btn-dark">Show</a>
              <a href="/user/edit/{{ user.id }}" class="btn btn-dark">Update</a>
              <a href="#" class="btn btn-danger delete-user" data-id="{{ user.id }}">Delete</a>

            </td>
          </tr>
        {% endfor %}
   </tbody>
  </table>
{% else %}
  <p>No users to display</p>
{% endif %}

{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
 <script src="/js/main.js"></script>
{% endblock %}


